.homepage {
	display: flex;
	flex-direction: column;
	width: 100%;

	@media (min-width: 1201px) {
		flex-direction: row;
	}
}

.left-column {
	margin: 0;
	width: 100%;

	img {
		width: 100%;
	}
}

.right-column {
	margin: 0;
	width: 100%;

	@media (min-width: 1201px) {
		margin: 0 30px 0 10px;
		width: 665px;
	}
}
